body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rbc-calendar {
  font-family: inherit;
}

.rbc-event {
  cursor: pointer;
  border-radius: 4px;
}

.rbc-toolbar-label {
  font-size: 1.25rem;
  font-weight: 600;
}
