name: Sync to Hugging Face hub
on:
  push:
    branches: [main] # or 'master' depending on your default branch name

  # This allows you to run the sync manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true # Set to true if you have large files
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # Replace 'laibahraheel7' and 'Gemini-PM' with your actual username and space name
          git push --force https://laibahraheel7:$HF_TOKEN@huggingface.co/spaces/laibahraheel7/Gemini-Generative-PM main
